@use '@/shared/styles/variables' as *;

.footer {
  color: var(--text-color-default);
  padding: var(--spacing-3xl) var(--spacing-l);
  position: relative;
  z-index: 2;
  @media (min-width: $breakpoint-m) {
    padding: var(--spacing-3xl) 0;
  }
}

.footerWrapper {
  display: grid;
  gap: var(--gap-2xl);
  grid-template-columns: 1fr;
  margin-bottom: var(--spacing-2xl);

  @media (min-width: $breakpoint-l) {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

.brand {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  max-width: 420px;

  .logo {
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    color: var(--primary-color);
  }

  .description {
    font-size: var(--fs-base);
    color: var(--color-description);
  }
}

.linksGroup {
  text-align: center;

  @media (min-width: $breakpoint-m) {
    text-align: left;
  }
  h4 {
    margin-bottom: var(--spacing-xl);
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-s);

    @media (min-width: $breakpoint-m) {
      align-items: flex-start;
    }

    li a {
      color: var(--color-description);
      font-size: var(--fs-base);
      transition: color 0.3s ease;

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.bottom {
  text-align: center;
  border-top: 1px solid var(--border-color);
  padding-top: var(--spacing-3xl);
  font-size: var(--fs-small);
  color: var(--color-description);

  @media (min-width: $breakpoint-m) {
    text-align: left;
  }
}
