@use '@/shared/styles/variables' as *;

.statsSection {
  padding: var(--spacing-3xl) 0;
}

.statsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  gap: var(--gap-xl);
  text-align: center;

  @media (min-width: $breakpoint-m) {
    text-align: left;
  }
}

.item {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.value {
  font-family: var(--ff-main);
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  color: var(--text-color-heading);
}

.label {
  margin-top: var(--spacing-s);
  font-family: var(--ff-secondary);
  font-size: var(--fs-description);
  color: var(--color-description);
}
