@use '@/shared/styles/variables' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-base);
  border: none;
  border-radius: 9999px;
  padding: var(--spacing-l) var(--spacing-xl);
  cursor: pointer;
  transition: var(--transition-fast);
  color: var(--text-color-button);
  width: fit-content;
}

.primary {
  background: var(--primary-color);

  &:hover {
    background: var(--primary-color-hover);
  }
}

.secondary {
  background: transparent;
}

.link {
  background: transparent;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

.blue {
  background: var(--accent-color-blue);
}

.pink {
  background: var(--accent-color-pink);
}
