@use '@/shared/styles/variables' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-base);
  border: none;
  border-radius: 9999px;
  padding: var(--spacing-l) var(--spacing-xl);
  cursor: pointer;
  transition: var(--transition-fast);
  color: var(--text-color-button);
  width: fit-content;

  &:hover {
    filter: brightness(1.1);
  }
}

.primary {
  background: var(--primary-color);
  color: var(--text-color-button);
}

.secondary {
  background: transparent;
  font-size: var(--fs-nav-mobile);
  font-weight: var(--fw-medium);
  color: var(--text-color-default);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-fast);

  @media (min-width: $breakpoint-m) {
    font-size: var(--fs-base);
  }

  &:hover {
    color: var(--primary-color);
    filter: none;
  }
}

.white {
  background: #fff;
  color: var(--primary-color);
  font-weight: var(--fw-semibold);
  box-shadow: var(--shadow-main);
  border: 1px solid rgba(255, 255, 255, 0.1);

  &:hover {
    filter: brightness(0.95);
    transform: translateY(-1px);
  }
}

.link {
  background: transparent;

  &:hover {
    text-decoration: underline;
    filter: none;
  }
}

.blue {
  background: var(--accent-color-blue);
  color: #fff;
}

.pink {
  background: var(--accent-color-pink);
  color: #fff;
}

.round {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.arrowIcon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  display: block;
  filter: brightness(0) invert(1);
}
