@use '@/shared/styles/variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-header);
  transition: var(--transition-base);
  background: transparent;
}

.headerScrolled {
  background: var(--bg-header);
  backdrop-filter: blur(8px);
}

.hidden {
  transform: translateY(-100%);
  @media (min-width: $breakpoint-m) {
    transform: none;
  }
}

.headerWrapper {
  font-family: var(--ff-base);
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-l);

  @media (min-width: $breakpoint-m) {
    padding: var(--spacing-xl) 0;
  }
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  height: 2.6rem;
  cursor: pointer;
  flex-shrink: 0;

  img {
    display: block;
    height: 100%;
    width: auto;
    object-fit: contain;
    margin: 0;
  }
}

.menuWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;

  @media (max-width: $breakpoint-m) {
    width: auto;
  }
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  opacity: 0;
  top: -100%;
  left: 50%;
  width: 100%;
  pointer-events: none;
  background: var(--bg-page);
  gap: var(--gap-xl);

  transform: translateX(-50%);
  box-shadow: var(--shadow-main);
  border-radius: var(--radius-m);
  z-index: var(--z-index-overlay);
  transition:
    top 0.35s ease,
    opacity 0.3s ease;

  @media (min-width: $breakpoint-m) {
    opacity: 1;
    width: auto;
    height: auto;
    transform: none;
    position: static;
    box-shadow: none;
    flex-direction: row;
    pointer-events: auto;
    background: transparent;
  }
}

.open {
  top: 10%;
  opacity: 1;
  pointer-events: auto;
}

.nav > ul {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);

  @media (min-width: $breakpoint-m) {
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
  }
}

.nav ul li a,
.dropdownToggle {
  font-size: var(--fs-nav-mobile);
  font-weight: var(--fw-medium);
  color: var(--text-color-default);
  transition: var(--transition-fast);
  background: none;
  border: none;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    color: var(--primary-color);
  }

  @media (min-width: $breakpoint-m) {
    font-size: var(--fs-base);
    color: var(--text-color-heading);
  }
  @media (min-width: $breakpoint-l) {
    font-size: var(--fs-nav-desktop);
  }
}

.arrow {
  margin-left: var(--spacing-s);
  font-size: var(--ff-base);
  transition: transform 0.3s ease;

  @media (min-width: $breakpoint-l) {
    display: none;
  }
}

.rotated {
  transform: rotate(180deg);
}

.dropdown {
  position: relative;
}

.dropdownButton {
  padding: 0;
}

.dropdown::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
}

.dropdownMenu {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 0;
  top: -2000%;
  pointer-events: none;
  gap: var(--gap-s);
  margin-top: var(--spacing-s);
  background: var(--bg-page);
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-main);
  padding: var(--spacing-m) var(--spacing-l);
  min-width: 180px;
  z-index: var(--z-index-overlay);
  opacity: 0;
  visibility: hidden;
  transition:
    top 0.55s ease,
    opacity 0.5s ease,
    visibility 0s linear 0.3s;
}

.dropdownMenu.open {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
  transition-delay: 0s;
}

@media (hover: hover) and (pointer: fine) {
  .dropdown:hover .dropdownMenu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    transition-delay: 0s;
  }
}

.dropdownMenu li a {
  color: var(--text-color-contrast);

  @media (min-width: $breakpoint-l) {
    color: var(--text-color-default);

    &:hover {
      color: var(--primary-color);
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-m);
}

.signIn {
  display: none;
  font-size: var(--fs-nav-mobile);
  &:hover {
    color: var(--text-color-button);
  }

  @media (min-width: $breakpoint-m) {
    display: block;
    font-size: var(--fs-nav-laptop);
    font-weight: var(--fw-medium);
    color: var(--text-color-heading);
  }
  @media (min-width: $breakpoint-l) {
    font-size: var(--fs-nav-desktop);
  }
}

.signUp {
  display: none;

  @media (min-width: $breakpoint-m) {
    display: block;
  }
}
