@use '@/shared/styles/variables' as *;

.socials {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  margin-top: var(--spacing-s);
  transition: var(--transition-fast);
}

.align-left {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-right {
  justify-content: flex-end;
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-full);
  background: transparent;
  transition: var(--transition-fast);
  cursor: pointer;
  box-shadow: none;

  text-decoration: none;

  &:hover {
    background: linear-gradient(90deg, var(--accent-color-blue), var(--accent-color-pink));
    transform: translateY(-3px);
    box-shadow: var(--shadow-main);

    .icon {
      color: var(--text-color-button);
    }
  }
}

.icon {
  transition: color 0.3s ease;
}

.size-s {
  .iconWrapper {
    width: 2.2rem;
    height: 2.2rem;
  }
  .icon {
    font-size: 1rem;
    color: var(--text-color-heading);
  }
}

.size-m {
  .iconWrapper {
    width: 3rem;
    height: 3rem;
  }
  .icon {
    font-size: 1.25rem;
    color: var(--text-color-heading);
  }
}

.size-l {
  .iconWrapper {
    width: 4rem;
    height: 4rem;
  }
  .icon {
    font-size: 1.6rem;
    color: var(--text-color-heading);
  }
}

.default {
  .iconWrapper {
    background: transparent;
  }
}

.light {
  .iconWrapper {
    .icon {
      color: var(--text-color-heading);
    }

    &:hover {
      background: var(--bg-card);
      box-shadow: var(--shadow-overlay);
      .icon {
        color: var(--primary-color);
      }
    }
  }
}

.dark {
  .iconWrapper {
    border: 1px solid var(--border-color);
    background: var(--bg-card);
    .icon {
      color: var(--text-color-heading);
    }

    &:hover {
      background: linear-gradient(90deg, var(--accent-color-blue), var(--accent-color-pink));
      .icon {
        color: var(--text-color-button);
      }
    }
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
