@use '@/shared/styles/variables' as *;

.home {
  position: relative;
  padding: 6rem 1rem 1rem;
}

.hero {
  max-width: 45%;
  @media (max-width: $breakpoint-m) {
    max-width: 100%;
  }
}

.heroPhone {
  font-weight: 500;
}

.heroVisual {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 50%;
  @media (max-width: $breakpoint-m) {
    display: none;
  }
}

.heroImageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.heroImage,
.shapeYellow,
.shapeWaves,
.shapeBlue {
  position: absolute;
  display: block;
  @media (max-width: $breakpoint-m) {
    display: none;
    height: auto;
  }
}

.heroImage {
  top: 0;
  left: 0;
  width: 100%;
}

.shapeYellow {
  top: 30%;
  left: -8%;
  width: 15%;
}

.shapeWaves {
  bottom: 26%;
  left: 8%;
  width: 10%;
}

.shapeBlue {
  bottom: 8%;
  right: 15%;
  width: 12%;
}
