@use '@/shared/styles/variables' as *;

.blogGrid {
  background: var(--bg-section);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-3xl) var(--spacing-l);

  @media (min-width: $breakpoint-m) {
    padding: var(--spacing-4xl) var(--spacing-xl);
  }
}

.grid {
  width: 100%;
  display: grid;
  gap: var(--gap-xl);
  grid-template-columns: 1fr;
  max-width: var(--container-max-width);

  @media (min-width: $breakpoint-m) {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-l);
  }
}
