@use '@/shared/styles/variables' as *;

.header {
  margin-bottom: var(--spacing-3xl);
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  background: var(--bg-card);
  border-radius: var(--radius-md);
  padding: var(--spacing-2xl);
  box-shadow: var(--shadow-md);
  text-align: left;

  @media (min-width: $breakpoint-m) {
    flex-direction: row;
    align-items: center;
  }
}

.imageWrapper {
  flex-shrink: 0;

  img {
    border-radius: var(--radius-s);
    width: 400px;
    height: auto;
    object-fit: cover;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);

  .quoteIcon {
    width: 40px;
    color: var(--primary-color);
  }

  .role {
    font-size: var(--fs-base);
    color: var(--color-description);
  }

  .company {
    font-size: var(--fs-base);
    color: var(--primary-color);
    font-weight: var(--fw-medium);
  }
}

.navigation {
  display: flex;
  justify-content: center;
  gap: var(--gap-m);
  margin-top: var(--spacing-xl);
  align-items: center;
}
