.dark {
  --text-color-default: #e5e7eb;
  --text-color-heading: #f9fafb;
  --text-color-subheading: #d1d5db;
  --text-color-contrast: #e2e2e2;
  --text-color-link: #60a5fa;

  --color-h2: #f3f4f6;
  --color-h3: #e5e7eb;
  --color-h4: #d1d5db;
  --color-h5: #f9fafb;
  --color-description: #9ca3af;

  --bg-page: #181c31;
  --bg-section: #111827;
  --bg-card: #1f2937;
  --bg-header: hsla(230, 34%, 14%, 0.6);
  --bg-mobile-nav: rgba(0, 0, 0, 0.95);

  --shadow-md: 0 0px 8px rgba(0, 0, 0, 0.2);

  --border-color: #374151;

  --burger-color: #ffffff;
}
