@use '@/shared/styles/variables' as *;

.hero {
  width: 100%;
  padding: var(--spacing-4);
  padding-bottom: var(--spacing-12);
  @media (min-width: $breakpoint-m) {
    padding: var(--spacing-6);
    padding-bottom: 6rem;
    max-width: 40%;
  }
  @media (min-width: $breakpoint-l) {
    padding-bottom: 10rem;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
}

.heroCta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--spacing-8);
  @media (min-width: $breakpoint-m) {
    flex-direction: row-reverse;
    justify-content: start;
  }
}

.heroPhone {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
}

// heroVisual
.heroVisual {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 50%;
  @media (max-width: $breakpoint-m) {
    display: none;
    z-index: 4;
  }
}

.heroImageWrapper {
  position: relative;
  width: 100%;
  max-height: 36rem;
  aspect-ratio: 1 / 1;
}

.heroImage,
.shapeYellow,
.shapeWaves,
.shapeBlue {
  position: absolute;
  display: block;
  @media (max-width: $breakpoint-m) {
    display: none;
    height: auto;
  }
}

.heroImage {
  top: 0;
  left: 0;
  width: 100%;
}

.shapeYellow {
  top: 30%;
  left: -8%;
  width: 15%;
}

.shapeWaves {
  bottom: 26%;
  left: 8%;
  width: 10%;
}

.shapeBlue {
  bottom: 8%;
  right: 15%;
  width: 12%;
}
