@use '@/shared/styles/variables' as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media (min-width: $breakpoint-m) {
    max-width: 70%;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  z-index: 2;
}

.heroCta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--gap-xl);

  @media (min-width: $breakpoint-m) {
    flex-direction: row-reverse;
    justify-content: start;
  }
}

.heroPhone {
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
}

.heroVisual {
  display: none;
  position: absolute;
  top: 0;
  right: 0%;
  width: 30%;
  overflow: visible;
  pointer-events: none;

  @media (min-width: $breakpoint-m) {
    display: block;
  }
}

.heroImageWrapper {
  position: absolute;
  top: calc(-1 * var(--spacing-4xl));
  right: 0%;
  width: 100%;
  max-height: 60rem;
  aspect-ratio: 1 / 1;
  z-index: 1;
}

.heroImage,
.heroShape,
.shapeYellow,
.shapeWaves,
.shapeBlue {
  position: absolute;
  display: block;

  @media (max-width: $breakpoint-m) {
    display: none;
  }
}

.heroImage {
  top: 0;
  right: 0;
  width: 100%;
}

.heroShape {
  top: 0;
  right: 0;
  width: 100%;
}

.shapeYellow {
  top: 22%;
  left: -10%;
  width: 18%;
}

.shapeWaves {
  bottom: 15%;
  left: 15%;
  width: 15%;
}

.shapeBlue {
  bottom: 5%;
  right: 15%;
  width: 15%;
}
