@use '@/shared/styles/variables' as *;

.heroWrapper {
  position: relative;
}

.hero {
  width: 100%;
  @media (min-width: $breakpoint-m) {
    max-width: 50%;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

.heroCta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--gap-xl);
  @media (min-width: $breakpoint-m) {
    flex-direction: row-reverse;
    justify-content: start;
  }
}

.heroPhone {
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
}

// heroVisual
.heroVisual {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 50%;
  @media (max-width: $breakpoint-m) {
    display: none;
    z-index: 4;
  }
}

.heroImageWrapper {
  position: relative;
  width: 100%;
  max-height: 36rem;
  aspect-ratio: 1 / 1;
}

.heroImage,
.shapeYellow,
.shapeWaves,
.shapeBlue {
  position: absolute;
  display: block;
  @media (max-width: $breakpoint-m) {
    display: none;
    height: auto;
  }
}

.heroImage {
  top: 0;
  left: 0;
  width: 100%;
}

.shapeYellow {
  top: 30%;
  left: -8%;
  width: 15%;
}

.shapeWaves {
  bottom: 26%;
  left: 8%;
  width: 10%;
}

.shapeBlue {
  bottom: 8%;
  right: 15%;
  width: 12%;
}
