@use '@/shared/styles/variables' as *;

.teamSection {
  padding: var(--spacing-4xl) 0;
}

.bgWrapper {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--bg-section);
  background-image: url('@/assets/images/shape/shape-08.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // z-index: -1;
}

.shapeCircle,
.shapeOrange,
.shapePink {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.shapeCircle {
  top: 12%;
  left: 18%;
  width: 3rem;
  height: 3rem;
}

.shapeOrange {
  bottom: -8%;
  left: 13%;
  width: 5rem;
  height: 5rem;
}

.shapePink {
  top: 20%;
  right: 20%;
  width: 4rem;
  height: 4rem;
}

.headerTeam h2,
.headerTeam p {
  z-index: 2;
}

.members {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-xl);
  z-index: 2;

  @media (min-width: $breakpoint-m) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.memberCard {
  position: relative;
  text-align: center;
  border-radius: var(--radius-s);
  overflow: hidden;
  cursor: pointer;
}

.membersTitle {
  margin: var(--spacing-m) 0;
}

.photo {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-s);

  img {
    width: 100%;
    display: block;
  }

  .socialOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;

    .overlayBlue,
    .overlayPink {
      position: absolute;
      inset: 0;
      transition: clip-path 0.5s ease-in-out;
    }

    .overlayBlue {
      background: var(--accent-color-blue);
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
      z-index: 10;
    }

    .overlayPink {
      background: var(--accent-color-pink);
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
      z-index: 8;
      transition-delay: 0.1s;
    }

    .socialIcons {
      position: relative;
      display: flex;
      gap: var(--gap-l);
      color: var(--social-color);
      opacity: 0;
      transform: translateY(20px) scale(2);
      transition:
        opacity 0.4s ease,
        transform 0.4s ease;
      z-index: 12;

      svg {
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  &:hover .overlayBlue {
    clip-path: polygon(0px 85%, 101% 89%, 101% 101%, 0px 101%);
  }

  &:hover .overlayPink {
    clip-path: polygon(0 90%, 101% 78%, 101% 101%, 0 101%);
  }

  &:hover .socialIcons {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition-delay: 0.2s;
  }
}
