@use '@/shared/styles/variables' as *;

.ctaSection {
  position: relative;
  background: var(--primary-color);
  background-image: url('@/assets/images/shape/shape-15.svg');
  padding: var(--spacing-3xl) 0;
  overflow: hidden;
  z-index: 2;
}

.ctaContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  gap: var(--gap-l);

  @media (min-width: $breakpoint-l) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.textBlock {
  max-width: 640px;

  h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: 1.2;
    color: #000;
    padding-bottom: var(--spacing-3xl);

    span {
      color: #fff;
    }
  }
}
