@use '@/shared/styles/variables' as *;

.ctaSection {
  position: relative;
  background: var(--primary-color);
  background-image: url('@/assets/images/shape/shape-15.svg');
  padding: var(--spacing-3xl) var(--spacing-l);
  z-index: 2;

  @media (min-width: $breakpoint-m) {
    padding: var(--spacing-4xl) 0;
  }
}

.ctaContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: var(--gap-2xl);

  @media (min-width: $breakpoint-l) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.textBlock {
  max-width: 640px;

  h2 {
    padding-bottom: var(--spacing-2xl);
    color: #000;
    span {
      color: #fff;
    }
  }

  .ctaDescription {
    color: var(--text-color-heading);
  }
}
