@use 'sass:color';
@use '@/shared/styles/variables' as *;

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: var(--bg-section);

  // Mobile First Padding
  padding: var(--spacing-4xl) var(--spacing-l);

  @media (min-width: $breakpoint-m) {
    min-height: 90vh;
    padding: var(--spacing-5xl) var(--spacing-xl);
  }
}

.wrapper {
  position: relative;
  width: 100%;

  @media (min-width: $breakpoint-l) {
    max-width: 450px;
  }
}

.shape {
  position: absolute;
  opacity: 0.1;
  max-width: 100px;

  @media (min-width: $breakpoint-m) {
    max-width: 150px;
  }
}

.card {
  position: relative;
  z-index: var(--z-index-base);
  width: 100%;
  margin: auto;
  background: var(--bg-card);
  padding: var(--spacing-3xl);
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-main);

  @media (min-width: $breakpoint-m) {
    padding: var(--spacing-4xl);
  }
}

.cardTitle {
  margin-bottom: var(--spacing-s);
  color: var(--primary-color);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
}

.cardDescription {
  margin-bottom: var(--spacing-2xl);
  color: var(--text-color-default);
  font-size: var(--fs-base);
}

.cardSubtitle {
  margin: var(--spacing-2xl) 0 var(--spacing-l);
  color: var(--secondary-color);
  font-weight: var(--fw-medium);
  font-size: var(--fs-base);
}

.social {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-2xl);
  gap: var(--gap-m);
}

.socialLink {
  display: inline-block;
  background: var(--primary-color);
  color: var(--text-color-contrast);
  padding: var(--spacing-xs) var(--spacing-m);
  border-radius: var(--radius-s);
  font-weight: var(--fw-semibold);
  transition: var(--transition-fast);
  flex-grow: 1;
  text-align: center;

  &:hover {
    background: var(--primary-color-hover);
  }
}

.divider {
  display: block;
  margin: var(--spacing-2xl) 0;
  text-align: center;
  color: var(--text-color-default);
}

.formGroup {
  margin-bottom: var(--spacing-l);
}

.formLabel {
  display: block;
  margin-bottom: var(--spacing-s);
  font-weight: var(--fw-medium);
  color: var(--text-color-heading);
}

.formInput {
  width: 100%;
  padding: var(--spacing-m);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-s);
  font-size: var(--fs-base);
}

.btnPrimary {
  width: 100%;
  background: var(--primary-color);
  color: var(--text-color-contrast);
  padding: var(--spacing-m);
  border-radius: var(--radius-s);
  border: none;
  font-weight: var(--fw-semibold);
  transition: var(--transition-fast);

  &:hover {
    background: color.adjust(var(--primary-color), $lightness: -5%);
    background: var(--primary-color-hover);
  }
}

.signinText {
  margin-top: var(--spacing-l);
  text-align: center;
  font-size: var(--fs-small);

  & a {
    color: var(--secondary-color);
    font-weight: var(--fw-semibold);
  }
}
