@use '@/shared/styles/variables' as *;

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);
  padding: var(--spacing-l);
}

.featureItem {
  display: flex;
  align-items: center;
  gap: var(--gap-l);
  width: 100%;

  @media (min-width: $breakpoint-m) {
    width: 20rem;
  }
  @media (min-width: $breakpoint-l) {
    width: 24rem;
  }
}

.imageWrapper {
  border-radius: var(--radius-full);
  padding: var(--spacing-xl);
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  &.image1 {
    background: var(--accent-color-blue);
  }
  &.image2 {
    background: var(--accent-color-green);
  }
  &.image3 {
    background: var(--accent-color-pink);
  }
}

.featureSVG {
  height: 2.5rem;
  width: 2.5rem;
}

.descriptionWrapper {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}
